<a href="https://colab.research.google.com/github/evansigho/Hamoye-Tag-Along-Codes/blob/main/Pandas_So_much_more_than_a_cute_animal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Convention for importing Pandas

In [29]:
import pandas as pd
import numpy as np

days = pd.Series(['Monday', 'Tuesday', 'Wednesday'])
print(days)

#creating series with a numpy array
days_list = np.array(['Monday', 'Tuesday', 'Wednesday'])
numpy_days = pd.Series(days_list)
print(numpy_days)

#Using strings as index
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'],
                  index = ['a', 'b', 'c']
                 )
#create series from a dictionary
days1 = pd.Series({'a':'Monday', 'b':'Tuesday', 'c':'wednesday'})
print(days)
print(days1)

#Accessing Series
days[0]
days[1:]
days['c']
print(pd.DataFrame())

#create a dataframe from a dictionary
df_dict = {'country':['Ghana', 'Kenya', 'Nigeria', 'Togo'],
           'Capital': ['Accra', 'Nairobi','Abuja', 'Lome' ],
           'Population': [10000, 8500, 35000, 12000],
           'Age': [60, 70, 80, 75]
}

df = pd.DataFrame(df_dict, index = [2,4,6,8])
df_list = [
           ['Ghana', 'Accra', 10000, 60],
           ['Kenya', 'Nairobi', 8500, 70],
           ['Nigeria', 'Abuja', 35000, 80],
           ['Togo', 'Lome', 12000, 75]
]
df1 = pd.DataFrame(df_list, columns = ['Country', 'Capital', 'Population', 'Age'],
                   index = [2,4,6,8]
                   )
df1

0       Monday
1      Tuesday
2    Wednesday
dtype: object
0       Monday
1      Tuesday
2    Wednesday
dtype: object
a       Monday
b      Tuesday
c    Wednesday
dtype: object
a       Monday
b      Tuesday
c    wednesday
dtype: object
Empty DataFrame
Columns: []
Index: []

   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75