<a href="https://colab.research.google.com/github/evansigho/Hamoye-Tag-Along-Codes/blob/main/Pandas_So_much_more_than_a_cute_animal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Concept 1.4: Data Types and Data Wrangling

- Working with different types of data: text files, CSV, JSON objects, HTML and databases.

In [ ]:
csv_df = pd.readcsv('sample_file.csv')
csv_df.to_csv('sample_file.csv', index=False)

In [ ]:
#sometimes dependent on the xlrd libary which can be installed by running pip install xlrd in the terminal
excel_df = pd.read_excel('sample_file.xlsx')
excel_df.to_excel('sample_file.xlsx')

In [ ]:
#read table from a webpage and save as dataframe
html_df = pd.read_html('http://www.webpage.com/sampledata.html')
html_df.to_html('sample_file.html')

Pandas can connect to databases, get data with queries and save in a datafram.

In [ ]:
url = 'https//github.com/walephenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data.describe(include='all')

In [ ]:
#chech for missing values
fuel_data.isnull().sum()

In [ ]:
#use groupby to count the sum of each unique value in the fuel unit column
fuel_data.groupby('fuel_unit')['fuel_unit'].count()
fuel_data[['fuel_unit']] = fuel_data[['fuel_data']].fillna(value='mcf')

In [ ]:
#checkif missing values have been filled
fuel_data.isnull().sum()

In [ ]:
fuel_data.groupby('report_year')