<a href="https://colab.research.google.com/github/evansigho/Hamoye-Tag-Along-Codes/blob/main/Stage_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stage A Graded Quiz - HDSC-Introduction-to-Python-for-machine-learning

In [10]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [11]:
# Loading our data from .csv file 
foodbalancesheet_data = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding= 'latin-1')
foodbalancesheet_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [12]:
#Question 11 
#Answer - 269617.53
foodbalancesheet_data.groupby('Item')['Y2017'].sum()

Item
Alcohol, Non-Food        183.00
Alcoholic Beverages    26350.80
Animal Products         2530.62
Animal fats            22746.24
Apples and products     1740.45
                         ...
Vegetables, Other      27128.44
Vegetal Products       21339.05
Wheat and products     41958.79
Wine                     462.17
Yams                   15746.25
Name: Y2017, Length: 119, dtype: float64

In [13]:
#Question 11b 
#Answer - 209460.54
foodbalancesheet_data.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        194.00
Alcoholic Beverages    29114.91
Animal Products         2797.60
Animal fats            11729.63
Apples and products     2055.07
                         ...
Vegetables, Other      24575.55
Vegetal Products       21165.41
Wheat and products     38915.17
Wine                     577.83
Yams                   14885.58
Name: Y2014, Length: 119, dtype: float64

In [14]:
# Question 12 
#Answer - 135.235966 and 1603.403984	
foodbalancesheet_data.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,12126.000000,12126,12126.000000,12126,12126.000000,12126,12126,11806.000000,11827.000000,11807.000000,11776.000000,11826.000000
unique,NaN,9,NaN,119,NaN,18,6,NaN,NaN,NaN,NaN,NaN
top,NaN,Cameroon,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1460,NaN,254,NaN,1044,8191,NaN,NaN,NaN,NaN,NaN
mean,51.838776,NaN,2685.394029,NaN,3827.799274,NaN,NaN,92.684203,93.172473,96.361467,97.800487,100.454148
std,67.315745,NaN,146.264048,NaN,2201.776746,NaN,NaN,726.115374,742.810876,763.394690,781.003752,804.360420
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-374.000000,-294.000000,-142.000000,-281.000000,-256.000000
25%,20.000000,NaN,2561.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,35.000000,NaN,2625.000000,NaN,5142.000000,NaN,NaN,0.030000,0.020000,0.030000,0.030000,0.020000
75%,39.000000,NaN,2773.500000,NaN,5301.000000,NaN,NaN,8.100000,8.000000,8.000000,8.000000,8.000000
max,233.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,38924.000000,39728.000000,40551.000000,41389.000000,42228.000000

In [15]:
# Question 13 
#Answer - 1535 and 2.52
foodbalancesheet_data.isnull().sum()

Area Code         0
Area              0
Item Code         0
Item              0
Element Code      0
Element           0
Unit              0
Y2014           320
Y2015           299
Y2016           319
Y2017           350
Y2018           300
dtype: int64

In [16]:
# Question 14 
#Answer - 2014
foodbalancesheet_data.groupby('Element Code').corr()

                        Area Code  Item Code     Y2014     Y2015     Y2016  \
Element Code
511          Area Code   1.000000        NaN -0.075810 -0.074210 -0.072723
             Item Code        NaN        NaN       NaN       NaN       NaN
             Y2014      -0.075810        NaN  1.000000  0.999955  0.999831
             Y2015      -0.074210        NaN  0.999955  1.000000  0.999960
             Y2016      -0.072723        NaN  0.999831  0.999960  1.000000
...                           ...        ...       ...       ...       ...
5911         Y2014      -0.018895   0.084557  1.000000  0.992649  0.993738
             Y2015       0.007241   0.090847  0.992649  1.000000  0.984260
             Y2016      -0.021740   0.082968  0.993738  0.984260  1.000000
             Y2017      -0.019335   0.074451  0.973991  0.955428  0.990494
             Y2018      -0.014103   0.075763  0.961277  0.943312  0.983156

                           Y2017     Y2018
Element Code
511          Area Code -0.071265 -0.069793
             Item Code       NaN       NaN
             Y2014      0.999638  0.999377
             Y2015      0.999848  0.999666
             Y2016      0.999964  0.999857
...                          ...       ...
5911         Y2014      0.973991  0.961277
             Y2015      0.955428  0.943312
             Y2016      0.990494  0.983156
             Y2017      1.000000  0.998152
             Y2018      0.998152  1.000000

[126 rows x 7 columns]

In [17]:
# Question 15 
#Answer - 2015
foodbalancesheet_data.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,53648,2797116,5534244,274202.78,277452.51,285953.52,287141.85,295594.85
Export Quantity,41594,2204076,4847020,6671.89,6449.16,8168.23,12667.73,11850.73
Fat supply quantity (g/capita/day),50951,2659178,675108,2226.30,2210.67,2205.25,2230.23,2209.34
Feed,12972,649329,1336082,27658.74,28498.95,28443.89,28285.98,30309.98
Food,50093,2606447,4987740,177252.53,179411.91,183947.99,184557.72,190203.72
Food supply (kcal/capita/day),50365,2643073,651384,91128.00,90770.00,90825.00,90816.00,90854.00
Food supply quantity (kg/capita/yr),50093,2606447,625650,10599.26,10452.48,10434.30,10189.55,10265.04
Import Quantity,52069,2704922,5655888,59929.57,59593.38,58604.83,61892.58,60767.58
Losses,19174,1049605,1987724,26311.00,26266.00,27574.00,27766.00,28184.00
Other uses (non-food),18918,906827,1716282,12204.52,10084.63,11003.59,11920.12,11679.12
Processing,30373,1280928,2473142,25842.00,26824.00,27333.00,27390.00,28461.00
Production,41867,2104706,4315113,228317.10,229273.26,242082.41,243277.40,256279.40
Protein supply quantity (g/capita/day),50990,2661941,665912,2477.03,2455.87,2438.39,2407.82,2414.44
Residuals,47883,2483467,4813270,1432.00,2062.00,3014.00,2691.00,2188.00
Seed,8389,425210,878793,3460.00,4277.00,4583.00,4495.00,4554.00
Stock Variation,43654,2251157,4270624,7345.98,5017.02,6492.44,5467.56,9716.56
Total Population - Both sexes,460,22509,4599,137156.00,140847.00,144629.00,148495.00,152432.00
Tourist consumption,5104,506150,977319,15.00,5.00,7.00,7.00,7.00

In [18]:
# QUESTION 16 
#Answer - 1931287.75
foodbalancesheet_data.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,53648,2797116,5534244,274202.78,277452.51,285953.52,287141.85,295594.85
Export Quantity,41594,2204076,4847020,6671.89,6449.16,8168.23,12667.73,11850.73
Fat supply quantity (g/capita/day),50951,2659178,675108,2226.30,2210.67,2205.25,2230.23,2209.34
Feed,12972,649329,1336082,27658.74,28498.95,28443.89,28285.98,30309.98
Food,50093,2606447,4987740,177252.53,179411.91,183947.99,184557.72,190203.72
Food supply (kcal/capita/day),50365,2643073,651384,91128.00,90770.00,90825.00,90816.00,90854.00
Food supply quantity (kg/capita/yr),50093,2606447,625650,10599.26,10452.48,10434.30,10189.55,10265.04
Import Quantity,52069,2704922,5655888,59929.57,59593.38,58604.83,61892.58,60767.58
Losses,19174,1049605,1987724,26311.00,26266.00,27574.00,27766.00,28184.00
Other uses (non-food),18918,906827,1716282,12204.52,10084.63,11003.59,11920.12,11679.12
Processing,30373,1280928,2473142,25842.00,26824.00,27333.00,27390.00,28461.00
Production,41867,2104706,4315113,228317.10,229273.26,242082.41,243277.40,256279.40
Protein supply quantity (g/capita/day),50990,2661941,665912,2477.03,2455.87,2438.39,2407.82,2414.44
Residuals,47883,2483467,4813270,1432.00,2062.00,3014.00,2691.00,2188.00
Seed,8389,425210,878793,3460.00,4277.00,4583.00,4495.00,4554.00
Stock Variation,43654,2251157,4270624,7345.98,5017.02,6492.44,5467.56,9716.56
Total Population - Both sexes,460,22509,4599,137156.00,140847.00,144629.00,148495.00,152432.00
Tourist consumption,5104,506150,977319,15.00,5.00,7.00,7.00,7.00

In [19]:
# Question 17 
#Answer - Domestic supply quantity
foodbalancesheet_data.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  295594.85
Export Quantity                            11850.73
Fat supply quantity (g/capita/day)          2209.34
Feed                                       30309.98
Food                                      190203.72
Food supply (kcal/capita/day)              90854.00
Food supply quantity (kg/capita/yr)        10265.04
Import Quantity                            60767.58
Losses                                     28184.00
Other uses (non-food)                      11679.12
Processing                                 28461.00
Production                                256279.40
Protein supply quantity (g/capita/day)      2414.44
Residuals                                   2188.00
Seed                                        4554.00
Stock Variation                             9716.56
Total Population - Both sexes             152432.00
Tourist consumption                            7.00
Name: Y2018, dtype: float64

In [20]:
# Question 18 
#Answer - Protein supply quantity (g/capita/day)
foodbalancesheet_data.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  295594.85
Export Quantity                            11850.73
Fat supply quantity (g/capita/day)          2209.34
Feed                                       30309.98
Food                                      190203.72
Food supply (kcal/capita/day)              90854.00
Food supply quantity (kg/capita/yr)        10265.04
Import Quantity                            60767.58
Losses                                     28184.00
Other uses (non-food)                      11679.12
Processing                                 28461.00
Production                                256279.40
Protein supply quantity (g/capita/day)      2414.44
Residuals                                   2188.00
Seed                                        4554.00
Stock Variation                             9716.56
Total Population - Both sexes             152432.00
Tourist consumption                            7.00
Name: Y2018, dtype: float64

In [21]:
# Question 19 
foodbalancesheet_data['Area'].describe()

count        12126
unique           9
top       Cameroon
freq          1460
Name: Area, dtype: object

In [22]:
# Question 20 
#Answer - 49
foodbalancesheet_data['Area'].describe()

count        12126
unique           9
top       Cameroon
freq          1460
Name: Area, dtype: object